html, body {
  height: 100%;
  margin: 0;
}
body {
  text-align: center;
}
.row {
  height: 100vh;
}
#Christmas,
#Hanukkah {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
}
#Christmas {
  background: #e63946;
  clip-path: polygon(
    8% 0,
    100% 0,
    100% 100%,
    8% 100%,
    0 96%,
    8% 90%,
    0 84%,
    8% 78%,
    0 72%,
    8% 66%,
    0 60%,
    8% 54%,
    0 48%,
    8% 42%,
    0 36%,
    8% 30%,
    0 24%,
    8% 18%,
    0 12%,
    8% 6%
  );
}

#Hanukkah {
  background: #1e90ff;
  clip-path: polygon(
    0 0,
    100% 0,
    92% 6%,
    100% 12%,
    92% 18%,
    100% 24%,
    92% 30%,
    100% 36%,
    92% 42%,
    100% 48%,
    92% 54%,
    100% 60%,
    92% 66%,
    100% 72%,
    92% 78%,
    100% 84%,
    92% 90%,
    100% 96%,
    92% 100%,
    0 100%
  );
}