html {
  height: 100%;
  width: 100%;
}

body {
  background-image: url("imgs/candycane.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
}



.Ez {
  background-color: rgb(0, 122, 51);
  color: rgb(255, 255, 255);
  position: relative;

  span {
    transition: 0.2s;
  }
}


.Md {
  background-color: rgb(255, 215, 0);
  color: white;
  position: relative;
}


.Hd {
  background-color: rgb(200, 16, 46);
  color: white;
  position: relative;
}


.Ez:hover {
  background-color: rgb(0, 255, 0);
  color: black;
}


.Md:hover {
  background-color: rgb(192, 192, 192);
  color: black;
}


.Hd:hover {
  background-color: rgb(255, 0, 0);
  color: black;
}

/* Unused */
.Ez:active {
  background-color: rgb(184, 0, 0);
  color: rgb(255, 255, 255);
}

/* Unused */
.Md:active {
  background-color: rgb(207, 0, 226);
  color: white;
}

/* Unused */
.Hd:active {
  background-color: rgb(157, 0, 172);
  color: white;
}



.board {
  background-color: rgb(255, 255, 255);
  color: black;
  border-radius: 25px;
}

.board2 {
  background-color: rgb(223, 255, 213);
  color: black;
  border-radius: 25px;
}






.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}


.start {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  transition: .5s ease;
  opacity: 0;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  transition: .5s ease;
  opacity: 0;
}

.end {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  transition: .5s ease;
  opacity: 0;
}

.container:hover .image {
  opacity: 0.3;
}

.Ez:hover {
  .start {
    opacity: 1;
  }

  span {
    opacity: 0;
  }
}

.Md:hover {
  .middle {
    opacity: 1;
  }

  span {
    opacity: 0;
  }
}

.Hd:hover {
  .end {
    opacity: 1;
  }

  span {
    opacity: 0;
  }
}

#hangmanImage {
  text-align: center;
  margin-top: 20px;
}

#hangmanFigure {
  width: 150px;
  height: auto;
}


#graveyard {
  background-color: #f0f0f0;
  padding: 20px;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#graveyard h3 {
  font-size: 24px;
  color: #333;
}

#graveyard p {
  font-size: 18px;
  color: #555;
}

#graveyard span {
  font-weight: bold;
  color: #007bff;
}




/*
  @font-face {
    font-family: Hacked;
    src: url(hacked-28425/Hacked-KerX.ttf);
  }
  
  .word{
    font-family: Hacked;
  }


  body {
  background: url(imgs/backdrop.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  text-align: center;
  color: #de2221;
  }

  li{
    font-family: Hacked;
  }
  
  .helpy{
    margin-left: 50px;
    height: 30%;
    width: 10%;
  }

  h5{
    font-family: Hacked;
    margin-right: 85%;
  }
 


/* oher btn */
.add {
  background-color: rgb(163, 0, 0);
  color: rgb(255, 255, 255);
}

.add:hover {
  background-color: rgb(126, 0, 0);
  color: rgb(255, 255, 255);
}

.add:active {
  background-color: rgb(107, 0, 0) !important;
  color: rgb(255, 255, 255) !important;
}


/* clear btn */
.clear {
  background-color: rgb(154, 0, 168);
  color: white;
}

.clear:hover {
  background-color: rgb(97, 0, 105);
  color: white;
}

.clear:active {
  background-color: rgb(58, 0, 63) !important;
  color: white !important;
}